@import "tailwindcss";
@plugin "daisyui";

@theme "light" {
    --color-primary: #339527;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #339527;
}

body {
    background-color: #f5f5f5;
}