@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme "light" {
    --color-primary: #339527;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #339527;
}

body {
    /* background-color: #f5f5f5; */
}

a.active {
    @apply before:w-full before:h-[2px] text-green-600 before:bg-green-600 before:transition-all before:duration-300 before:absolute relative before:rounded-full before:bottom-[-4px] duration-300 before:left-0;
}